/* ---------- Page shell ---------- */

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   background-color: #1e1e1e;
  color: #e0e0e0;
}

/* ---------- Navbar ---------- */

.homepage nav {
  height: 60px;
  display: flex;
  align-items: center;

  padding: 0 1rem;
  box-sizing: border-box;

  background-color: #181818;
  color: #e0e0e0;
  border-bottom: 1px solid #2a2a
}

/* ---------- Main content ---------- */

.content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1e1e1e;


  /* IMPORTANT: do not set overflow here */
}

/* ---------- Image column ---------- */

.image-column {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;


  padding: 1rem;
  box-sizing: border-box;
}

/* ---------- Image wrapper (coordinate island) ---------- */

.image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 900px;

}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ---------- Overlay + hitbox ---------- */

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.hitbox {
  position: absolute;
  border: 2px dashed rgba(255, 80, 80, 0.9);
  box-sizing: border-box;
}





/* ---------- Global safety ---------- */

body {
  margin: 0;
}
