.image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;

}

.hitbox {
  border: 1px black solid;
  position: absolute;
}

.image-column {
  flex: 3;
  display: flex;
}